/* You can add global styles to this file, and also import other style files */
$lightpink: #ffd8ec;
$beigepink: #f9e6e6;
$blue: #7294d4;
$peach: #d8a499;
$pink: #ffa8cb;
$red: #e5000c;
$lightpurple: #c6cdf7;
$purple: #784283;
$yellow: #ddd690;
$anotherpink: #e6a0c4;

//set background color of entire page
body {
    background-color: $beigepink;
}

h1, h2, h3, h4 {
    font-family: 'Rakkas', cursive;
}

.hero {
    text-align: center;
    font-size: 5rem;

    margin-bottom: -10px;
    margin-top: 18%;
    color: $blue;
    
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.subtitle {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    text-align: center;

    color: $blue;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.wip {
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    text-align: center;

    color: black;
    background-color: $yellow;
    outline: 1rem solid black;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
