.museum {
    text-align: center;
    font-size: 3rem;
    margin-bottom: -10px;
    margin-top: 14%;
    color: white;
    font-family: 'Poppins', sans-serif;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    a {
        text-decoration: none;
        color: #ff5400;
    }

    @media (max-width: 768px) {
        font-size: 3rem;
        margin-top: 10%;
    }
}