.post-container {
    .post {
        display: flex;
        flex-direction: row;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        color: white;
        margin: auto;
        margin-left: 20rem;
        margin-top: 10%;

        .post-and-image {
            display: flex;
            flex-direction: column;
            margin: 1rem;
        }
        
        .content {
            font-family: 'Outfit', sans-serif;
            flex-direction: column;
            width: 50rem;
        }

        img {
            width: 10rem;
            height: 10rem;
        }
    }

    display: flex;
    flex-direction: column;
}
