
$bg-color: #F7FFF7;
$link-color: #FF6B6B;
$thin-color: #4ECDC4;
$card-color: #ebebeb;
$accent-color: #1A535C;
$font-color: #272838;

@media (prefers-color-scheme: dark) {
    $bg-color: #2c2c2c;
    $link-color: #FF6B6B;
    $thin-color: #4ECDC4;
    $accent-color: #1A535C;
    $font-color: #272838;
}

a {
    color: $link-color;
    font-family: 'PT Serif', serif;
    :hover {
        text-decoration: underline;
    }
}

p {
    color: $font-color;
    font-family: 'PT Serif', serif;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Rakkas', cursive;
    color: $font-color;
}

body {
    background-color: $bg-color;
}

.face {
    border-radius: 100px;
    border-style: solid;
    border-width: medium;
    border-color: $link-color;
}

.container {
    padding-top: 20rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menuList {
    display: flex;
    flex-direction: row; 
}

.menuList li {
    list-style: none;
    padding-right: 2rem;
}

.gallery .card {
    margin-bottom: 4rem;
}

.card {
    background-color: $card-color;
    border-radius: 10px;
    display: grid;
    padding: 2rem;
    grid-template-columns: 15rem 5rem 5rem;
    grid-template-rows: 2rem 10rem;
    grid-template-areas: 
        "image title title"
        "image text text";
}

.card img {
    padding-top: 1rem;
}

.card h2 {
    grid-area: title;
}

.card p {
    grid-area: text;
}

.layout {
    display: flex;
    position: fixed;
    flex-direction: row;
    float: top;
}

.homeButton {
    margin: 1rem;
    position: fixed;
    top: 0px;
    left: 0px; 
}

.darkMode {
    margin: 1rem;
    position: fixed;
    top: 0px;
    right: 0px; 
}